@import "tailwindcss";

#__nuxt {
  width: 100%;
  height: 100%;
}

body {
  padding: 48px 64px;
  max-width: 1440px;
  margin: 0 auto;
}

html {
  font-family: "Source Serif 4";
  font-style: normal;
  font-weight: 400;
  overflow-y: auto;
  scrollbar-gutter: stable;
  height: 100%;
}

@media (max-width: 768px) {
  body {
    padding: 24px 32px;
    max-width: 1440px;
    margin: 0 auto;
    height: 100vh;
  }
}
